* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

body {
  /* background: #06283d; */
  background-image: url('../images/background-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.app-description {
  background: #ffffff;
  color: #06283d;
  text-align: center;
  border-radius: 20px;
  padding: 1rem;
}

.app-description span {
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
  font-style: oblique 40deg;
}

.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.not-found img {
  width: 70%;
}

.not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.container {
  background: #ffffff;
  width: 350px;
  height: 105px;
  position: relative;
  padding: 28px 32px;
  border-radius: 18px;
  transition: 0.6s ease-out;
}

.time-box {
  margin-top: 20px;
  width: 100%;
  height: min-content;
  align-items: center;
}
.time-box p {
  color: #06283d;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.localtime {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  color: #06283d;
  width: 80%;
  padding-left: 32px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.search-box input::placeholder {
  color: #06283d;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
.search-box button {
  background: #dff6ff;
  color: #06283d;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 0px solid;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}
.search-box button:hover {
  color: #ffffff;
  background: #06283d;
}

.search-box i {
  position: absolute;
  color: #06283d;
  font-size: 28px;
}

.weather-box {
  text-align: center;
}

.weather-box img {
  width: 60%;
  margin-top: 30px;
}

.weather-box .temperature {
  cursor: pointer;
  background-color: #dff6ff;
  position: relative;
  color: #06283d;
  font-size: 4rem;
  border-radius: 20px;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
  padding: 5px;
}

.temperature:hover {
  background: #06283d;
  color: #ffffff;
}

.weather-box .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-box,
.weather-details,
.time-box {
  scale: 0;
  opacity: 0;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}
.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i {
  color: #06283d;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}
.weather-details span {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  color: #06283d;
  font-size: 14px;
  font-weight: 500;
}

/* Animation */

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
